/* #region utilities */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --title: #E53170;
    --sfondo_card: #0F0E17;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.container{
    width: 70%;
    margin: auto;
}

img{
    max-width: 100%;
}


/* #endregion utilities */ 

header>div{
    text-align: center;
}

h1{
    color: var(--title);
    padding-top: 2.5rem;
    padding-bottom: 3.5rem;
}