/* #region utilities */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --title: #E53170;
    --sfondo_card: #0F0E17;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.container{
    width: 70%;
    margin: auto;
}

/* #endregion utilities */ 

/* #region header */
header>div{
    text-align: center;
}

h1{
    color: var(--title);
    padding-top: 2.5rem;
    padding-bottom: 3.5rem;
    font-family: 'Josefin Sans', sans-serif;
}

p{
    font-family: 'Akshar', sans-serif;
}

/* #endregion header */

/*start main */

img{
    float: left;
    max-width: 100%;
    width: 120px;
}

.col_3{
    box-shadow: 0 0 15px var(--sfondo_card);
    float: left;
    width: calc(100% / 3 - 10px) ;
    margin-top: 60px;
    background-color: var(--sfondo_card);
    color: white;
}

.center{
    margin-left: 15px ;
    margin-right: 15px ;
}

.card{
    float: left;
}

.name{
    font-family: 'Josefin Sans', sans-serif;
}

.job{
    font-family: 'Akshar', sans-serif;
}

.mail{
    font-family: 'Akshar', sans-serif;
    color: #2CACDE ;
    text-decoration: none;
}

.name, .job, .mail{
    margin-top: 12px;
    margin-left: 15px;
}

.mail{
    display: inline-block;
}

.mail:hover{
    color: var(--title);
}

/* end main */