/* #region utilities */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --title: #E53170;
    --sfondo_card: #0F0E17;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.container{
    width: 70%;
    margin: auto;
}

/* #endregion utilities */ 

/* #region header */
header>div{
    text-align: center;
}

h1{
    color: var(--title);
    padding-top: 2.5rem;
    padding-bottom: 3.5rem;
}

/* #endregion header */

/*start main */

img{
    float: left;
    max-width: 100%;
    width: 120px;
}

.col_3{
    box-shadow: 0 0 15px black;
    float: left;
    width: calc(100% / 3 - 30px);
    margin-top: 60px;
    background-color: black;
    color: white;
    margin-left: 30px;
}

.card{
    float: left;
}

.name, .job, .mail{
    margin-top: 12px;
    margin-left: 15px;
}


/* end main */